## Vagrant cache
.vagrant

## Docker runtime
## docker-runtime/
## Nohup file
nohup.out
## Vendor folder from Symfony2
vendor/
## bin folder where behat executable is stored
tests/bin/
## database dumps
*.sql
